@charset "utf-8";

/* skipmenu */
.skip{
	a{position:fixed;left:0;top:-60px;overflow:hidden;display:block;height:0;width:0;margin-bottom:-1px;text-align:center;white-space:nowrap;color:$col_white;text-align:center;z-index:10001;background:$col_point1;font-size:16px;font-weight:bold;
		&:focus, &:active{top:0;height:auto;width:100%;;color:$col_white;line-height:60px}
	}
}

html, body{height:100%}
body > #wrapper{height:auto;min-height:100%}
#wrapper{position:relative;z-index:10;background:$col_g100;
	header{position:fixed;top:0;left:0;width:100%;height:67px;background:$col_white;border-bottom:1px solid $col_b07;z-index:100;
		.titMain{display:inline-block;padding:17px 20px;
			a{@extend %textHidden;display:inline-block;width:118px;height:28px;background:url(#{$img_url}/common/spr_layout.svg) no-repeat 0 0 / 250px auto}
		}
		.topUtil{position:absolute;top:15px;right:15px;
			button{@extend %textHidden;display:inline-block;width:38px;height:38px;background:url(#{$img_url}/common/spr_layout.svg) no-repeat 0 0 / 250px auto;
				&.btSos{background-position:-158px 0}
				&.btSearch{background-position:-119px 0}
			}
		}
		.btprev{@extend %textHidden;position:absolute;top:21px;left:18px;width:27px;height:27px;
			&:after{@include pseudo(13px,13px);border:solid $col_point1;border-width:0 0 2px 2px;@include prefix(transform,rotate(45deg));margin-left:-5px}
		}
		.titPage{padding:0 45px;line-height:67px;color:$col_point1;font-weight:700;font-size:rem(18px)}
		.btPrev{@extend %textHidden;position:absolute;top:50%;left:0;width:42px;height:42px;margin-top:-21px;
			&:after{@include pseudo(26px,26px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -123px -102px / 250px auto;}
		}
		.titSub{padding:0 42px;color:$col_point1;font-size:rem(18px);line-height:67px;font-weight:$weight700;}
	}

	//container
	.container{position:relative;min-height:100%;padding:97px 23px 30px}
	&.compWrapper{
		.container{padding:67px 0 0 0}
	}
}

footer{padding:13px 25px 25px;color:$col_g200;background:$col_g700;padding-bottom:calc(constant(safe-area-inset-bottom) + 25px);padding-bottom:calc(env(safe-area-inset-bottom) + 25px);} 

nav{position:relative;height:45px;border-top:1px solid $col_b05;background:$col_white;z-index:11;height:calc(constant(safe-area-inset-bottom) + 45px);height:calc(env(safe-area-inset-bottom) + 45px);
	> .inner{position:fixed;bottom:0;left:0;display:flex;width:100%;height:45px;background:$col_white;
		>a{@extend %textHidden;position:relative;width:100%;height:45px;
			&:after{@include pseudo(31px,31px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat 0 0 / 250px auto;}
			&.btHome:after{background-position:0 -38px}
			&.btWorking:after{background-position:-32px -38px}
			&.btStamp:after{background-position:-64px -38px}
			&.btMy:after{background-position:-96px -38px}
			&.btMenu:after{background-position:-128px -38px}
		}
	}
}

.menuList{position:fixed;top:0;left:0;width:100%;height:100%;padding-left:100px;z-index:1000;
	&:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;backdrop-filter: blur(22px);z-index:1;background:rgba(0,0,0,0.15)}
	.inner{position:relative;z-index:2;height:100vh;padding-top:48px;text-align:center;background:$col_white;}
	.navList{overflow:auto;height:calc(100vh - 136px);border-bottom:1px solid rgba($col_g300, 0.6);border-top:1px solid rgba($col_g300, 0.6);
		ul{
			> li{border-top:1px solid rgba($col_g300, 0.6);
				> a{position:relative;display:block;height:62px;padding:0 56px;color:$col_black;font-size:rem(15px);line-height:61px;
					&:before{content:'';display:block;position:absolute;top:50%;left:22px;width:31px;height:31px;margin-top:-15px;background:url(#{$img_url}/common/spr_layout.svg) no-repeat 0 0 / 250px auto;}
				}
				&:first-child{border-top:0}
				&.gnb01 > a:before{background-position:0 -70px}
				&.gnb02 > a:before{background-position:-32px -70px}
				&.gnb03 > a:before{background-position:-64px -70px}
				&.gnb04 > a:before{background-position:-96px -70px}
				&.gnb05 > a:before{background-position:-128px -70px}
				&.gnb06 > a:before{background-position:-160px -70px}
				&.gnb07 > a:before{background-position:-192px -70px}
				&.gnb08 > a:before{background-position:0 -102px}
				&.gnb09 > a:before{background-position:-32px -102px}
			}
		}
	}
	.navUtil{display:inline-block;max-width:260px;height:88px;margin:0 auto;background:$col_white;
		> a{position:relative;display:inline-block;width:81px;height:88px;padding-top:50px;color:$col_black;font-size:rem(13px);text-align:center;
			&:after{@include pseudo(31px,31px);top:20px;margin-top:0;background:url(#{$img_url}/common/spr_layout.svg) no-repeat 0 -38px / 250px auto}
			&.utilMy:after{background-position:-96px -38px}
			&.utilNoti:after{background-position:-158px -38px}
		}
	}
	.closeNavi{@extend %textHidden;position:absolute;top:12px;right:12px;width:31px;height:31px;
		&:after{@include pseudo(26px,26px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -96px -102px / 250px auto;}
	}
}

/* layer popup */
.layPop{position:fixed;background:$col_white;z-index:10000;
	.titLay{@include ellipsis(1, auto);flex:0 0 62px;padding:0 30px;color:$col_black;font-size:rem(15px);font-weight:$weight700;line-height:62px;text-align:center;background:$col_white}
	
	.txtAlert{padding:0 40px;color:$col_black;font-size:rem(13px);text-align:center;
		+ .txtAlert{margin-top:18px}
	}
	.layInner{position:relative;display:flex;flex-direction:column;z-index:100;box-shadow: 0px 0px 10px rgba($col_black, 0.029);
		.layCont{height:100%;overflow:auto}
	}
	&.layBtm{position:fixed;left:0;bottom:0;width:100%;max-height:calc(100vh - 67px);border-radius:18px 18px 0 0;animation-name:layBtm;animation-duration:1.5s;
		.layInner{width:100%;background:$col_white;border-radius:18px 18px 0 0;
			.layCont{padding:40px 23px 25px;}
		}
	}
	@keyframes layBtm {
		0% {bottom:-100%;display:none}
		100% {bottom:0;display:block}
	  }
	&.layCent{display:none;top:50%;left:23px;right:23px;margin-top:20px;transform:translateY(-50%);background:$col_white;max-height:calc(100vh - 139px);
		.layInner{overflow:hidden;max-height:calc(100vh - 139px);
			.layCont{padding:0 18px 18px 18px;text-align:left}
		}
		.closeL{@extend %textHidden;position:absolute;top:-47px;right:0;width:31.5px;height:31.5px;border-radius:50%;background:url(#{$img_url}/common/spr_layout.svg) no-repeat -64px -102px / 250px auto;}
	}
}
.dimmed{display:none;position:fixed;top:0;left:0;width:100%;height:100%;backdrop-filter:blur(22px);-webkit-backdrop-filter:blur(22px);z-index:1000;transition:0.5s;background:rgba($col_g500, 0.2)}
